# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.bin
*.hex
*.elf
*.dis
*.map
				
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore
ignore/
/Objects
/Listings
/JLinkLog.txt
/JLinkSettings.ini
/LandLord.uvgui.*
/OriginalFirmware
.vscode/*

.*#